* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    padding: 1vw 5vw;
    flex-shrink: 0;
    align-items: baseline;
    gap: 1vw;
}

.header .logo {
    font-size: 24px;
    font-weight: 400;
    color: #1f2937;
}

.header .header-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.3vw;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.header .header-links a {
    text-decoration: inherit;
    color: #4b5563;
    font-size: inherit;
    font-weight: inherit;
}

.header .header-links a:hover{
    color: #2563eb;
}


.main {
    background-color: #f9fafb;
    display: flex;
    flex-direction: row;
    padding: 5vw 5vw;

}

.main .text {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    min-width: 50%;
    justify-content: space-around;
    
}

.main .main-text {
    font-size: 32px;
    font-weight: 600;
    color: #111827;
}


.main .container .subtext {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 4vh;
    color: #6b7280;
}

.main .text button {
    background-color: #2563eb;
    border-radius: 25px;
    padding: 1vw 3vw;
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    border: none;
}

.main .medialinks {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5vw;
}

.main .medialinks img {
    border-radius: 50%;
    width: 3.5vw;
    cursor: pointer;
}

.main .dp {
    display: flex;
    padding-left: 1vh;
    margin-left: auto;
    max-width: 45%;
}

.dp img {
    width: 100%;
    border: 3px solid black;
}

