* {
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #e5e5e59a;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1vw 8vw;
    flex-shrink: 0;
    align-items: baseline;
    color: gray;
}

.header .logo {
    font-size: 24px;
    font-weight: 400;
    
}

.header .header-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.3vw;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    cursor: pointer;
}

.header .header-links a{
    text-decoration: inherit;
    color: #000;
    font-size: inherit;
    font-weight: inherit;
}


.main{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    padding: 5vw 8vw;
}

.main .text{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 50%;
    justify-content: space-around;
}

.main .main-text{
    font-size: 32px;
    font-weight: 600;
}


.main .container .subtext{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 4vh;
}

.main .text button{
    background-color: rgb(29, 138, 246);
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
}

.main .medialinks{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5vw;
}

.main .medialinks img{
    border-radius: 50%;
    width: 3.5vw;
    cursor: pointer;
}

.main .dp{
    display: flex;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: auto;
}

.dp img{
    width: 100%;
    border: 3px solid black;
}




